@import "./global.css";

.card {
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: var(--white) 0.6em solid;
    margin: 0.9375rem;
    position: relative;
}
.card:hover {
    box-shadow: 5px 5px 20px var(--gray);
    transition: 250ms;
    transform: translateY(-1%);
}
.card__media img {
    width: 100%;
    object-fit: cover;
    height: 15rem;
}
.card__media img:hover {
    transform: scale(0.98);
    transition: .3s;
}
.card__info {
    padding: 30px 20px 20px 20px;
}
.card__info h3 {
    cursor: pointer;
}
.card__info h3:hover {
    color: var(--blue);
    transition: .3s;
}
.card__info span {
    color: var(--green);
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    text-align: left;
    text-transform: capitalize;
    font-family: sans-serif;
}
.card__info .card__span-disabled {
    color: var(--red);
} 
.card__text {
    padding: .3em 0 .7em;
}
.card__text p {
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
.card__button {
    background: var(--blue);
    color: white;
    font-size: 17px;
    border-radius: 0.7em;
    letter-spacing: 0.06em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.4em;
    padding-left: 2.8em;
    padding-right: 0.9em;
    width: 100%;
    cursor: pointer;
}
.card__button-disabled {
    background: var(--tag-primary);
}
.card__button .card__icon {
    background: #fff;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
}
.card__icon svg {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.2rem;
    height: 1.2rem;
}
.card__button-disabled .card__icon,
.card__button-disabled .card__icon svg {
    width: 0;
    height: 0;
    display: none;
}
.card__button:hover .card__icon svg {
    transform: rotate(360deg);
}
.card__button:hover .card__icon {
    width: calc(100% - 0.85rem);
    border-radius: 0.5em;
}
.card__button p {
    text-transform: uppercase;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
}