* {
    vertical-align: baseline;
    font-family: sans-serif;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
:root {
    --blue: #006fff;
    --black: #0b0e11;
    --white: #ffffff;
    --green: rgb(43, 180, 126);
    --border: #dddfe248;
    --dark: #1b1c1d;
    --gray: rgb(118, 128, 143);
    --red: #FF4045;
    --tag-primary: rgba(2, 192, 119, 0.605);
    --tag-secondary: rgb(240, 171, 11);
}
.body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
}